body{
    margin: 0%;

}

a {
  text-decoration: none;
  padding-left: 7%;
  color: black;
}
h1 {
  color: navy;
  font-size: 50px;
}
.nav {
  width: 50%;
  padding-bottom: 200px;

  background-color: gray;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
}
.highlight-text {
  color: orange;
}
img {
  width: 100%;
}
section {
  height: 200px;
  padding bottom: 200px;
}
